# https://github.com/tsukumijima/KonomiTV/blob/b136577042ca10223ad0c1b03aefa4622a9a893f/.github/workflows/publish_docker_image.yaml
name: Publish Docker Image
# 手動実行
on:
  workflow_dispatch:
    inputs:
      tag:
        required: true
        type: string
        default: "latest"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout Upstream
        uses: actions/checkout@v4
        with:
          repository: "tsukumijima/KonomiTV"
          path: ups
          ref: "v0.13.0"

      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          path: mod

      - run: cp ${{ github.workspace }}/mod/Dockerfile ${{ github.workspace }}/ups/Dockerfile

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      # GitHub Container Registry (ghcr.io) にログイン
      - name: Login to the Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Docker イメージのタグ付け用のメタデータを抽出
      - name: Extract Metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=raw,value=${{ inputs.tag }}

      # Docker イメージをビルドして公開
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ${{ github.workspace }}/ups
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: false

      # # おそらく使われることのない、Untagged なイメージをすべて削除する
      # Keep untagged images for backup
